<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en_US" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">{%
  assign desc = page.description | default: page.excerpt | default: site.description | strip_html | strip_newlines | truncate: 160
  %}
  <meta name="description" content="{{desc}}">
  <title>{% if page.short-title %}{{ page.short-title }}{% else %}{{ page.title }}{% endif %} | {{ site.title }}</title>

  <!-- Favicon / Touch Icons -->
  <link rel="icon" sizes="64x64" href="/assets/shared/dart/icon/64.png">
  <link href="{% asset_path 'touch-icon-iphone.png' %}" rel="apple-touch-icon">
  <link href="{% asset_path 'touch-icon-ipad.png' %}" rel="apple-touch-icon" sizes="76x76">
  <link href="{% asset_path 'touch-icon-iphone-retina.png' %}" rel="apple-touch-icon" sizes="120x120">
  <link href="{% asset_path 'touch-icon-ipad-retina.png' %}" rel="apple-touch-icon" sizes="152x152">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@dart_lang" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{desc}}" />

  <!-- Open Graph -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{desc}}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />{%
    assign og_image_path = page.og_image | default: layout.og_image | default: '/assets/shared/dart-logo-for-shares.png' %}{%
    assign og_type = page.og_type | default: layout.og_type
  %}{% comment %}
  Add page URL to page relative paths
  {% endcomment %}{%
  assign og_image_start = og_image_path | slice: 0
  %}{% unless og_image_start == '/' %}{% capture og_image_path %}{{page.url}}/{{og_image_path}}{% endcapture %}{% endunless %}
  <meta property="og:image" content="{{og_image_path | absolute_url}}{{site.og_image_vers}}" />{%
  if og_type %}
  <meta property="og:type" content="{{og_type}}" />{%
  endif %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
  {% stylesheet style %}
  {% if page.layout == "angular" %}{% stylesheet angular %}{% endif %}
  {% if page.layout == "components" %}{% stylesheet acx %}{% endif %}
  {% for css in page.css %}
  <link href="{{css}}" rel="stylesheet" type="text/css">
  {% endfor %}

  <!--
      Why don't we use Dart here?

      The only scripting we use here is stuff like resizing of the left nav and
      adding the little icon to outgoing links. These happen to be use cases
      where JavaScript and jQuery are doing just fine. Dart is here for
      application programming, not page scripting.
   -->
  {% javascript main %}

  {% for js in page.js %}
  <script {% if js.defer %}defer{% endif %} src="{{ js.url }}"></script>
  {% endfor %}
  {% include analytics.html %}

  {% if page.layout == "angular" %}
  <!-- VENDORS -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css"/>
  <!--
  -->
  {% javascript ng/vendor/lodash.js %}
  {% javascript ng/vendor/clipboard.min.js %}
  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <!-- Angular.io Site JS -->
  {% javascript ng/site.js %}
  {% javascript ng/controllers/app-controller.js %}
  {% javascript ng/directives/api-list.js %}
  {% javascript ng/directives/bold.js %}
  {% javascript ng/directives/code.js %}
  {% javascript ng/directives/copy.js %}
  {% javascript ng/directives/code-tabs.js %}
  {% javascript ng/directives/code-pane.js %}
  {% javascript ng/directives/code-example.js %}
  {% javascript ng/directives/scroll-y-offset-element.js %}
  {% endif %}
  {% if page.diff2html %}
  {%- comment %}Get from CDN for now{% endcomment -%}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.3.0/diff2html.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.3.0/diff2html.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/diff2html/2.3.0/diff2html-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/dart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/yaml.min.js"></script>
  <script>$(document).ready(function() {
    var diff2htmlUi = new Diff2HtmlUI();
    diff2htmlUi.highlightCode(".d2h-wrapper");
  });</script>
  {% endif %}
</head>
